
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}





/* shared css style */


.display-flex{
    display: flex;
}

.dark-two{
    color: #424242;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);

    
}


.btn-primary{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}








/* shared css style */










/* main css style */



.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.text-logo{
    color: #131313;
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-links{
    list-style: none;
}
.nav-item{
    margin-left: 30px;
    
}
.nav-item a{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;

}

/* banner style */




.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}


/* responsive style */

@media  screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}