
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}

footer{
    max-width: 1440px;
    margin: 0 auto;
}





/* shared css style */


.display-flex{
    display: flex;
}

.dark-two{
    color: #424242;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);

    
}


.btn-primary{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}


main{
 max-width: 1440px;
 margin: 0 auto;
}
main> section{
    margin-top: 130px;
}


.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.dark-three{
    color: #727272;
}




/* shared css style */










/* main css style */



.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.text-logo{
    color: #131313;
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-links{
    list-style: none;
}
.nav-item{
    margin-left: 30px;
    
}
.nav-item a{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;

}

/* banner style */




.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

/* main section style */

.teams{
    align-items: center;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.feature-content{
    margin-left: 73px;
    max-width: 537px;
}

.feature-description{
    color: #727272;
    line-height: 26px;
}


/* features section style starts here */

.features-section{
 
    gap: 140px;
}

.features-section-heading{
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
    max-width: 586px;
    border-radius: 8px;

}

.feature-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.featured-architec img{

    width: 100%;

}

#experience-badge{
    padding: 46px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;

}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
    display: block;
}

/* facts section */

.facts-container{

    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.section-heading{
    margin-bottom: 100px;
}

.facts-card{
    border: 1px solid #FF900E;

    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 5px;
}

.fact-description{
    max-width: 540px;
    
    line-height: 26px;
}

/* sponsor section starts here */
.sponsor-heading{
    text-align: center;
   
    max-width: 540px;
    margin: 50px auto;

}
.sponsor-img-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   
    
}

.sponsor-img-container img{
    filter: grayscale(100%);
}

/* span design are here */

#quick-list{
    font-weight: 400;
    font-size: 2.8rem;
    color: #727272;
}

#of-our{

    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;

}
#features{
    font-weight: 700;
    font-size: 2.8rem;
    color: #FF900E;
}

/* footer starts here */

footer{
    height: 100px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 130px;
    
}


/* responsive style */

@media  screen and (max-width:576px) {
    .navbar,
    .nav-links ,
    .features-section,
    .teams{
        flex-direction: column;
    }

    .image-container,.facts-container,.sponsor-img-container{
        grid-template-columns: 1fr;
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-img-container{
         justify-items: center;
        gap: 50px;
    }

    .feature-content{
        margin-left: 20px;
    }

    #experience-badge{
        margin-top:20px;
        margin-left: -1px;
    }
}

@media  screen and (min-width:576px) and (max-width:992px){


.teams,.features-section{
    flex-direction: column;
}

  .feature-content{
    margin: 50px auto;
  }

  .facts-container,.sponsor-img-container{
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }

  .sponsor-img-container,.facts-container{
    justify-items: center;
  }

  .section-heading{
    text-align: center;
    justify-items: center;
  }
  
    #experience-badge{
      margin: 20px 203px;
    }









}