
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}





/* shared css style */


.display-flex{
    display: flex;
}

.dark-two{
    color: #424242;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);

    
}


.btn-primary{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}


main{
 max-width: 1440px;
 margin: 0 auto;
}
main> section{
    margin-top: 130px;
}


.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.dark-three{
    color: #727272;
}




/* shared css style */










/* main css style */



.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.text-logo{
    color: #131313;
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-links{
    list-style: none;
}
.nav-item{
    margin-left: 30px;
    
}
.nav-item a{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;

}

/* banner style */




.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

/* main section style */

.teams{
    align-items: center;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.feature-content{
    margin-left: 73px;
    max-width: 537px;
}

.feature-description{
    color: #727272;
    line-height: 26px;
}

/* facts section */

.facts-container{

    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.section-heading{
    margin-bottom: 100px;
}

.facts-card{
    border: 1px solid #FF900E;

    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 5px;
}

.fact-description{
    max-width: 540px;
    
    line-height: 26px;
}

/* span design are here */

#quick-list{
    font-weight: 400;
    font-size: 2.8rem;
    color: #727272;
}

#of-our{

    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;

}
#features{
    font-weight: 700;
    font-size: 2.8rem;
    color: #FF900E;
}


/* responsive style */

@media  screen and (max-width:576px) {
    .navbar,
    .nav-links ,
    .teams{
        flex-direction: column;
    }

    .image-container,.facts-container{
        grid-template-columns: 1fr;
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }

    .feature-content{
        margin-left: 20px;
    }
}

@media  screen and (min-width:576px) and (max-width:992px){


.teams{
    flex-direction: column;
}

  .feature-content{
    margin: 50px auto;
  }








}